@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@700&family=Protest+Strike&family=Inter:wght@300&display=swap');

* {
	box-sizing: border-box;
	font-size: 16px;
}

/** HEADERR **/
#header-nav {
	background-color: #cad9a5;
	border-radius: 0;
	border: 1px solid;

}
#header-nav h1 {
	font-family: 'Protest Strike', sans-serif;
	color: #000000;
	margin-top: -7.5px;
	text-shadow: 2px 1px 2px #717a82;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1.5px solid #c2751d;
}
#nav-list {
	font-family: 'Caveat', cursive;
	text-align: center;
}
#nav-list hr {
	width: 90%;
	border-top: 2px solid #000000;
}
/** !HEADER **/

/** MENU **/
section h2 {
	font-family: 'Anton', sans-serif;
	font-size: 2em;
	margin-bottom: 40px;
}
.menu-list {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.menu {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid black;
	background-color: #c9c8af;
}
.title h3 {
	font-family: 'Caveat', cursive;
	text-align: center;
	font-size: 2em;
}
.back-link {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.back-link a {
	font-size: 1.4em;
	color: #a11b43;
}
.back-link a:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.6em;
	transition: 0.5s;
}
/** !MENU **/